environment = "prod"
namespace   = "myorg"
db_password = "ChangeMe123!"

# compliance_profile     = "general"
# kubernetes_version     = "1.29"
# node_instance_types    = ["m5.2xlarge"]
# cognito_callback_urls  = ["https://app.example.com/callback"]
# cognito_logout_urls    = ["https://app.example.com/logout"]
